header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  position: fixed;
  height: 10vh;
  top: 0;
  background-color: hsla(0, 0%, 15%, 0.5);
  z-index: 5;
  .brand {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    .brand-name-text {
      height: 6vh;
    }
    .brand-logo {
      height: 5vh;
      margin-left: 0.5rem;
    }
  }
  .menuIcon {
    height: 4vh;
    margin-right: 1rem;
  }
}
