.carrousel {
  width: 100vw;
  min-height: 50vh;
  position: relative;
  z-index: 0;
  .carrousel-entrenadores {
    display: flex;
    justify-content: center;
    width: 100vw;
    background: rgb(240, 221, 6);
    background: linear-gradient(
      45deg,
      rgba(240, 221, 6, 1) 0%,
      rgba(55, 55, 53, 1) 100%
    );
  }
  .carrousel-deportistas {
    display: flex;
    justify-content: center;
    width: 100vw;
    background: rgb(55, 55, 53);
    background: linear-gradient(
      315deg,
      rgba(55, 55, 53, 1) 0%,
      rgba(84, 110, 122, 1) 100%
    );
  }
  div {
    img {
      height: 50vh;
      object-fit: cover;
      object-position: center;
      position: relative;
      display: inline-block;
      text-align: center;
    }
    h3 {
      position: absolute;
      width: 50vw;
      line-height: 1;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      font-size: $font-size-xxxlarge;
      font-family: "Teko", sans-serif;
      color: $white;
      text-align: center;
      text-shadow: 2px 2px 4px $lightBlack;
      span {
        color: $yellow;
      }
    }
    p {
      padding: 0.5rem 1rem;
      font-family: "Teko", sans-serif;
      font-size: $font-size-large;
      color: $white;
      text-align: center;
      text-shadow: 2px 2px 4px $lightBlack;
      span {
        color: $yellow;
      }
    }
  }
}

@media (min-width: 768px) {
  .carrousel {
    div {
      h3 {
        font-size: 5rem;
      }
      p {
        padding: 1rem;
        font-size: $font-size-xxlarge;
      }
    }
  }
}
