* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//fonts
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
//font-family: 'Teko', sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
//font-family: 'Roboto', sans-serif;
@font-face {
  font-family: "dolceVita";
  src: url(./fonts/DolceVita.ttf);
}
//Variables
//Colors
$lightYellow: #e6d94c;
$yellow: #f0dd06;
$white: #ffffff;
$greyBlue: #536c78;
$grey: #373735;
$lightBlack: #252525;
$black: #111111;
//Font-sizes
$font-size-small: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.2rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2rem;
$font-size-xxxlarge: 3rem;
//border-Radius
$border-radius-medium: 5px;
$border-radius-large: 10px;
//Layout
@import "./layout/header";
@import "./layout/footer";
@import "./layout/mobileMenu";
//Components
@import "./components/wappFixed";
@import "./components/index-section";
@import "./components/carrousel";
@import "./components/contactForm";
