.ejerciciosMobile {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .firstSection {
    padding-top: 11vh;
  }
  .bg-1 {
    background: $greyBlue;
    background: linear-gradient(
      45deg,
      rgba(55, 55, 53, 1) 0%,
      rgba(84, 110, 122, 1) 100%
    );
  }
  .bg-2 {
    background: rgb(55, 55, 53);
    background: linear-gradient(
      315deg,
      rgba(55, 55, 53, 1) 0%,
      rgba(17, 17, 17, 1) 100%
    );
  }
  section {
    padding: 1rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    H2 {
      text-align: center;
      font-size: $font-size-xxlarge;
      font-family: "Teko", sans-serif;
      color: $yellow;
      text-shadow: 2px 2px 4px $lightBlack;
    }
    h3 {
      padding: 0.5rem;
      text-align: center;
      font-family: "Teko", sans-serif;
      color: $white;
      font-size: $font-size-xlarge;
    }
    iframe {
      width: 320px;
      height: 180px;
    }
  }
}

@media (min-width: 768px) {
  .ejerciciosMobile {
    section {
      padding: 2rem;
      H2 {
        font-size: $font-size-xxxlarge;
      }
      h3 {
        padding: 1rem;
        font-size: $font-size-xxlarge;
      }
      iframe {
        width: 720px;
        height: 480px;
      }
    }
  }
}
