.index-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: left;
    display: inline-block;
    text-align: center;
  }
  .ajusteBG {
    object-position: right;
  }
  H2 {
    width: 60vw;
    line-height: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40%;
    margin: auto;
    font-size: $font-size-xxxlarge;
    font-family: "Teko", sans-serif;
    color: $white;
    text-align: center;
    text-shadow: 2px 2px 4px $lightBlack;
    span {
      color: $yellow;
    }
  }
}

@media (min-width: 768px) {
  .index-section {
    H2 {
      font-size: 5rem;
    }
  }
}

@media (min-width: 1600px) {
  .index-section {
    H2 {
      width: 25vw;
    }
  }
}

