.planes {
  width: 100vw;
  padding-top: 10vh;
  background-color: $black;
  section {
    font-family: "Teko", sans-serif;
    color: $white;
    padding-bottom: 3rem;
    .bg-1 {
      padding: 0.5rem 1rem;
      h2 {
        text-align: center;
        font-size: $font-size-xxlarge;
        color: $yellow;
      }
      p {
        font-size: $font-size-medium;
        span {
          color: $lightYellow;
        }
      }
      background-color: $black;
    }
    .bg-2 {
      padding: 0.5rem 1rem;
      background-color: $greyBlue;
      p {
        font-size: $font-size-medium;
        span {
          color: $lightYellow;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .planes {
    min-height: 94vh;
    section {
      .bg-1 {
        padding: 0.5rem 1rem;
        h2 {
          font-size: $font-size-xxxlarge;
        }
        h3 {
          font-size: $font-size-xlarge;
        }
        p {
          font-size: $font-size-xlarge;
        }
      }
      .bg-2 {
        padding: 0.5rem 1rem;
        h3 {
          font-size: $font-size-xlarge;
        }
        p {
          font-size: $font-size-xlarge;
        }
      }
    }
  }
}


@media (min-width: 1200px) {
  .planes {
    section {
      padding-bottom: 2rem;
      .bg-1 {
        padding: 0.5rem 8rem;
        h2 {
          font-size: $font-size-xxxlarge;
        }
        h3 {
          font-size: $font-size-large;
        }
        p {
          font-size: $font-size-large;
        }
      }
      .bg-2 {
        padding: 0.5rem 8rem;
        h3 {
          font-size: $font-size-large;
        }
        p {
          font-size: $font-size-large;
        }
      }
    }
  }
}

@media (min-width: 1600px) {
  .planes {
    section {
      .bg-1 {
        padding: 1rem 8rem;
        h2 {
          font-size: $font-size-xxxlarge;
        }
        h3 {
          font-size: $font-size-large;
        }
        p {
          font-size: $font-size-large;
        }
      }
      .bg-2 {
        padding: 0.5rem 8rem;
        h3 {
          font-size: $font-size-large;
        }
        p {
          font-size: $font-size-large;
        }
      }
    }
  }
}