.sobreNosotros {
  min-height: 90vh;
  width: 100vw;
  background-image: url("../../assets/images/fondoGym.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  section {
    padding: 12vh 2rem;
    font-family: "Teko", "sans-serif";
    text-shadow: $drop-shadow-light;
    h2 {
      text-align: center;
      color: $white;
      font-size: $font-size-xxlarge;
      span {
        color: $yellow;
      }
    }
    p {
      padding-bottom: .5rem;
      font-size: $font-size-large;
      color: $white;
      span {
        color: $yellow;
      }
    }
  }
}
